<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid" style="background-color: lightgrey; border-radius: 15px;">
          <a class="navbar-brand" href="#">Happy Foods</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="border: none
          ;">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./About_us.html">About Us</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search for the Food-Item" aria-label="Search">
              <button class="btn btn-outline-success" type="submit" id="button_for_me" 
              formaction="./Recipe.html">Search</button>
            </form>
          </div>
        </div>
      </nav>
      <p class="main_paragraph" style="margin: 15px 10px ">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque, sint voluptate quod id, ullam quia in accusantium deserunt repellat cumque repellendus asperiores quibusdam molestias. Adipisci nemo odio quaerat possimus nulla.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum veniam id repellendus molestiae ut, veritatis hic praesentium consequuntur perferendis dolores nisi explicabo libero molestias a. Id voluptates cum distinctio repudiandae facere aspernatur provident nulla. Recusandae dicta, illo perferendis, dolore officia ea fuga dolor facere voluptas sint, asperiores vel delectus alias nulla labore doloremque error distinctio. Animi quia necessitatibus cupiditate? Quas esse iure nulla repellat velit doloremque culpa dolor, in magnam hic atque numquam animi nostrum nobis voluptate at expedita perferendis quaerat sequi consequuntur magni veniam? Aut odio veniam iusto. Eum aperiam earum reprehenderit sequi at laboriosam repellendus cum itaque dolor!
      </p>
      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button" id="thd">Button</button>
      </div>
</body>
<script>
    console.log( 'hi')
    let a = document.getElementById('button_for_me')
    a.addEventListener( 'click' , ()=>{
        
    })
</script>
</html>